PORT=3000
MONGODB_URI=mongodb+srv://ephraimanani7_db_user:enCayiU5qAGs1y15@waribeicluster.8irpe0k.mongodb.net/?appName=waribeiCluster
JWT_SECRET=change-this-secret-in-production
JWT_EXPIRES_IN_SECONDS=86400
